.disable-up-badge{
    display: inline-block;
    color: #fff;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    background: #006600;
}
.jh-warning-title .csf-subtitle-text{
    color: red;
}


/* Review admin notice CSS */

.jh_disable_review_notice p{
    padding-right: 20px;
}
.jh_disable_review_notice ul li {
  display: inline-block;
}
.jh_disable_review_notice ul {
    margin: 0;
    margin-bottom: 5px;
}
.jh_disable_review_notice ul li a {
  text-decoration: none;
  padding: 7px;
  color: #00718A;
  font-weight: 600;
  transition: 0.4s;
}

.jh_disable_review_notice ul li:nth-child(1) a {
  padding-left: 0 !important;
}

.jh_disable_review_notice ul li a span {
  padding-right: 3px;
  display: inline-block;
}

.jh_disable_review_notice ul li a:hover {
  color: #218ea6;
}
.jh_disable_review_notice {
    position: relative;
}
.jh_disable_review_notice .review_notice_dismiss {
    padding: 2px;
}

/* admin feature notice */
.jh_admin_feature_notice .csf-notice-danger{
  background-color: #ffdddd !important;
}